<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHEFLAVOR</title>

    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--fonts for header and footer-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Fira+Sans&family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">

    <!--style sheet-->
    <link href="/css/chefFlavorHome.css" type="text/css" rel="stylesheet">
    <link href="/css/menu.css" type="text/css" rel="stylesheet">
    <link href="/css/navigation.css" type="text/css" rel="stylesheet">

    <!--fonts for body-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo&family=Noto+Sans+HK&family=Poppins:wght@500&family=Source+Sans+Pro&family=Titillium+Web&family=Ubuntu&display=swap" rel="stylesheet">

</head>
<body>
    <div id="naviagtion">

    </div>

    <h1>our menu</h1>

    <div class="menu flexCol" id="menu">
        <% for (var category of orderedCategories) {%>
            <div class="menuSectionDiv">
                <h1 class="menuHeader"><%=category%></h1>
                <div class="flexRow">
                    <% for (var item of menu) {%>
                        
                        <%if (item.category === category) {%>
                            <div class="menuItemDiv border flexCol">
                                <% if (item.img != '') {%>
                                    <img src=<%= item.img %> class="squarePicture">
                                <% }%>
                                <h1 class="menuItemTitle"><%= item.title %></h1>
                                <p><%= item.description %></p>
                                <p><%= item.price %></p>
                            </div>
                        <%}%>
                    <%}%>
                </div>
            </div>
        <%}%>
    </div>
    
    
    <div class="pdfVersion" id="pdfVersion">
    </div>

    <footer id="footer" class="footer">
        
    </footer>

    <script src="/scripts/navigation.js"></script>
    <script src="/scripts/footer.js"></script>
</body>
</html>