<% layout('./layouts/boilerplate')%>
<main>
    <h1>our menu</h1>

    <div class="menu flexCol" id="menu">
        <% for (var category of orderedCategories) {%>
            <div class="menuSectionDiv">
                <h1 class="menuHeader"><%=category%></h1>
                <div class="flexRow">
                    <% for (var item of menu) {%>
                        
                        <%if (item.category === category) {%>
                            <div class="menuItemDiv border flexCol">
                                <% if (item.img != '') {%>
                                    <img src=<%= item.img %> class="squarePicture">
                                <% }%>
                                <h1 class="menuItemTitle"><%= item.title %></h1>
                                <p><%= item.description %></p>
                                <p><%= item.price %></p>
                            </div>
                        <%}%>
                    <%}%>
                </div>
            </div>
        <%}%>
    </div>
    
    
    <div class="pdfVersion" id="pdfVersion">
    </div>
</main>