<% layout('./layouts/staffBoilerplate')%>
<div>
    <!-- scroll hover click redirect delete -->
    <!-- in this div goes the entire current menu -->
    <div>
        <div class="menu flexCol" id="menu">
            <% for (var category of orderedCategories) {%>
                <!-- if click on one item redirect to page on its own -->
                <form action="" method="post">
                    <div class="menuSectionDiv">
                        <h1 class="menuHeader"><%=category%></h1>
                        <div class="flexRow">
                            <% for (var item of menu) {%>
                                <input type="text" name="objectId" id="objectId" value="<%=item.id%>">
                                <%if (item.category === category) {%>
                                    <div class="menuItemDiv border flexCol">
                                        <% if (item.img != '') {%>
                                            <img src=<%= item.img %> class="squarePicture">
                                        <% }%>
                                        <h1 class="menuItemTitle"><%= item.title %></h1>
                                        <p><%= item.description %></p>
                                        <p><%= item.price %></p>
                                    </div>
                                <%}%>
                            <%}%>
                        </div>
                    </div>
                    <button type="submit">delete</button>
                </form>
            <%}%>
        </div>
    </div>
</div>