<% layout('./layouts/staffBoilerplate')%>
<div class="">
    <form action="" novalidate class="validated-form" method="post" enctype="multipart/form-data">
        <input type="search" name="searchbar" id="searchbar">
        <button type="submit">search</button>
    </form>
</div>

<div>
    <div class="menu flexCol" id="menu">
        <% for (var category of orderedCategories) {%>
            <div class="menuSectionDiv">
                <form action="">
                    <form action="">Temporarily Unavailable</form>
                    <form action="">Delete</form>
                    <input class="menuHeader" type="text" value=<%=category%>></input>
                    <div class="flexRow">
                        <% for (var item of menu) {%>
                            <%if (item.category === category) {%>
                                <div class="menuItemDiv border flexCol">
                                    <% if (item.img != '') {%>
                                        <img src=<%= item.img %> class="squarePicture">
                                    <% }%>

                                    <input class="menuItemTitle" type="text" value=<%= item.title %>></input>
                                    <input class="description" type="text" value=<%= item.description %>></input>
                                    <input class="price" type="text" value=<%= item.price %>></input>
                                </div>
                            <%}%>
                        <%}%>
                    </div>
                    <button>Submit</button>
                </form>
            </div>
        <%}%>
    </div>
</div>

<link href="/css/menu.css" type="text/css" rel="stylesheet">