<% layout('./layouts/staffBoilerplate')%>
<div>
    <div class="menu flexCol" id="menu">
        <% for (var category of orderedCategories) {%>
            <div class="menuSectionDiv">
                
                    <h1><%=category%></h1>
                    <div class="flexRowWrap">
                        <% var num = 0%>
                        <% for (var item of menu) {%>
                            <%if (item.category === category) {%>
                                <div data-page="staff" class="menuItemDiv border flexCol available">
                                    <div class="hidden" id="itemUnavailableDiv<%=num%>"></div>
                                    <div hidden><%=num ++%></div>
                                    <!-- *** TBD: for making menu items temporarily unavailable*** -->
                                    <!-- <form action="/cheflavor/staffportal/menu/edit/available/" method="post">
                                        <input type="text" name="itemId" id="itemId" value="<%=item.id%>" hidden>
                                        <input type="text" name="availabilityId" id="availabilityId" value="available" hidden>
                                        <button id="toggleAvailability" type="submit">Temporarily Unavailable</button>
                                    </form> -->
                                    <div class="deleteBtnContainer">
                                        <form action="/cheflavor/staffportal/menu/edit/<%=item.id%>?_method=DELETE" method="POST">
                                            <input type="text" name="itemId" id="itemId" value="<%=item.id%>" hidden>
                                            <button class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                    <form action="/cheflavor/staffportal/menu/edit/?_method=PUT" method="POST" enctype="multipart/form-data">
                                        <div class="editmenuform">
                                            <% if (item.img != '') {%>
                                                <img src=<%= item.img %> class="squarePicture availabile" id="menuImg">
                                                <div class="form-check-inline">
                                                    <input type="checkbox" id="itemImage" name="deleteImages[]" value="<%=item.img%>">
                                                </div>
                                                <label for="itemImage">Delete Image</label>
                                                <p>or add a new image</p>
                                            <% }%>
                                            <div class="form-file custom-file center">
                                                <input type="file" class="form-file-input" id="image" name="image">
                                            </div>
                                            <br><br>
                                            <input class="menuItemTitle" type="text" name="title" id="title" value="<%= item.title %>" required></input>
                                            <br><br>
                                            <textarea class="description" type="text" name="description" id="description" cols="36" required><%= item.description %></textarea>
                                            <br><br>
                                            <input class="price" type="text" name="price" id="price" value="<%= item.price %>" required></input>
                                            <input class="id" type="text"  name="id" id="itemId" value="<%= item.id %>" hidden required></input>
                                            
                                            <br>
                                            
                                            <button type="submit" class="btn btn-success editmenuSubmitBtn">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            <%}%>
                        <%}%>
                    </div>
            
            </div>
        <%}%>
    </div>
</div>

<link href="/css/menu.css" type="text/css" rel="stylesheet">

<!-- *** TBD: for making menu items temporarily unavailable*** -->
<!-- <script src="/scripts/menuAvailability.js"></script> -->