<% layout('./layouts/staffBoilerplate')%>
<div>
    <div class="menu flexCol" id="menu">
        <% for (var category of orderedCategories) {%>
            <div class="menuSectionDiv">
                
                    <h1><%=category%></h1>
                    <div class="flexRow">
                        <% var num = 0%>
                        <% for (var item of menu) {%>
                            <%if (item.category === category) {%>
                                <div data-page="staff" class="menuItemDiv border flexCol available">
                                    <div class="hidden" id="itemUnavailableDiv<%=num%>"></div>
                                    <div hidden><%=num ++%></div>
                                    <form action="/cheflavor/staffportal/menu/edit/available/" method="post">
                                        <input type="text" name="itemId" id="itemId" value="<%=item.id%>" hidden>
                                        <input type="text" name="availabilityId" id="availabilityId" value="available" hidden>
                                        <button id="toggleAvailability" type="submit">Temporarily Unavailable</button>
                                    </form>
                                    <form action="/cheflavor/staffportal/menu/edit/<%=item.id%>?_method=DELETE" method="POST">
                                        <input type="text" name="itemId" id="itemId" value="<%=item.id%>" hidden>
                                        <button class="btn btn-danger">Delete</button>
                                    </form> 
                                    <form action="/cheflavor/staffportal/menu/edit/?_method=PUT" method="POST" enctype="multipart/form-data">
                                        <% if (item.img != '') {%>
                                            <img src=<%= item.img %> class="squarePicture availabile" id="menuImg">
                                            <div class="form-check-inline">
                                                <input type="checkbox" id="itemImage" name="deleteImages[]" value="<%=item.img%>">
                                            </div>
                                            <label for="itemImage">Delete Image</label>
                                        <% }%>
                                        <div class="form-file custom-file">
                                            <input type="file" class="form-file-input" id="image" name="image">
                                            <label class="form-file-label" for="image">
                                                <span class="form-file-text custom-file-label">Add Another Image</span>
                                                <span class="form-file-button">Browse</span>
                                            </label>
                                        </div>

                                        <input class="menuItemTitle" type="text" name="title" id="menu[title]" value="<%= item.title %>" required></input>

                                        <textarea class="description" type="text" name="description" id="menu[description]" required><%= item.description %></textarea>
                                        
                                        <input class="price" type="text" name="price" id="menu[price]" value="<%= item.price %>" required></input>
                                        
                                        <input class="id" type="text"  name="id" id="itemId" value="<%= item.id %>" hidden required></input>
                                        
                                        
                                        <button type="submit">Submit</button>
                                    </form>
                                </div>
                            <%}%>
                        <%}%>
                    </div>
            
            </div>
        <%}%>
    </div>
</div>

<link href="/css/menu.css" type="text/css" rel="stylesheet">
<script src="/scripts/menuAvailability.js"></script>